.card {
    max-width: 700px;
  }
  .container {
    max-width: 600px; /* ajusta el ancho máximo según tus necesidades */
    margin: 0 auto;
  }
  
  .card-header {
    background-color: #0069d9;
    color: #fff;
  }
  
  .card-body {
    padding: 2rem;
  }
  
  .btn {
    border-radius: 0;
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0062cc;
    border-color: #005cbf;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }
  
  .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }
  
  .btn-lg {
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
  }
  
  .mb-3 {
    margin-bottom: 1rem;
  }
  