{% block content %}
<div class="container my-5 d-flex justify-content-center">
  <div class="card shadow-lg">
    <div class="card-header">
      <h1 class="text-center">Bienvenido</h1>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 mb-3">
          <a href="{% url 'import_customers' %}" class="btn btn-primary btn-lg btn-block">
            Importar clientes
          </a>
        </div>
        <div class="col-md-6 mb-3">
          <a href="{% url 'customer_list' %}" class="btn btn-secondary btn-lg btn-block">
            Ver lista de clientes
          </a>
        </div>
        <div class="col-md-6 mb-3">
          <a href="{% url 'import_products' %}" class="btn btn-secondary btn-lg btn-block">
            Importar productos
          </a>
        </div>
        <div class="col-md-6 mb-3">
          <a href="{% url 'product_list' %}" class="btn btn-secondary btn-lg btn-block">
            Ver lista de productos
          </a>
        </div>
        <div class="col-md-6 mb-3">
          <a href="{% url 'import_orders' %}" class="btn btn-secondary btn-lg btn-block">
            Importar órdenes
          </a>
        </div>
        <div class="col-md-6 mb-3">
          <a href="{% url 'order_list' %}" class="btn btn-secondary btn-lg btn-block">
            Ver lista de órdenes
          </a>
        </div>
        <form method="post" action="{% url 'get_reporte_1' %}">
          {% csrf_token %}
          <button type="submit">Generar reporte</button>
      </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}