<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Importar clientes</title>
</head>
<body>
    <h1>Importar clientes desde un archivo CSV</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="csv_file">Seleccione un archivo CSV:</label>
        <input type="file" name="csv_file" id="csv_file">
        <br>
        <button type="submit">Importar</button>
    </form>
    <a href="{% url 'customer_list' %}" class="btn btn-primary">Ver Clientes</a>
</body>
</html>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}