<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lista de órdenes</title>
</head>
<body>
    <h1>Lista de órdenes</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Producto</th>
                <th>Totales</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id_order }}</td>
                <td>{{ order.customer }}</td>
                <td>{{ order.product }}</td>
                <td>{{ order.amount }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
